body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:759px;
  top:27px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:847px;
  top:27px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:937px;
  top:27px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:1077px;
  top:27px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:1147px;
  top:27px;
  width:70px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:57px;
  top:12px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:901px;
  top:72px;
  width:111px;
  height:132px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:132px;
}
#u10 {
  position:absolute;
  left:2px;
  top:58px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:990px;
  top:72px;
  width:20px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:927px;
  top:95px;
  width:63px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:927px;
  top:118px;
  width:40px;
  height:12px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:240px;
  top:200px;
  width:250px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:240px;
  top:250px;
  width:250px;
  height:25px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:120px;
  top:310px;
  width:200px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:360px;
  top:320px;
  width:90px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
