 <div class="row clearfix bwizard_block" style="margin-top:70px">
      <div id="wizard" class="bwizard clearfix">
        <ol class="bwizard-steps clearfix clickable" role="tablist">
          <li role="tab" aria-selected="true" {{#if step1}}class="active"{{/if}} style="z-index: 4;"><span class="label badge-inverse">1</span><a href="/process/step1" class="hidden-phone">Package</a></li>
          <li role="tab" aria-selected="false" {{#if step2}}class="active"{{/if}} style="z-index: 3;" class=""><span class="label">2</span><a href="/process/step2" class="hidden-phone">Product</a></li>
          <li role="tab" aria-selected="false" {{#if step3}}class="active"{{/if}} style="z-index: 2;"><span class="label">3</span><a href="/process/step3" class="hidden-phone">Time&Address</a></li>
          <li role="tab" aria-selected="false" {{#if step4}}class="active"{{/if}} style="z-index: 1;"><span class="label">4</span><a href="/process/step4" class="hidden-phone">OrderReview</a></li>
        </ol>      
     </ul></div>
   </div>