<div class="shopping_cart" style="padding-bottom:10px;width: 200px;margin-left: 120px;background-color: lightgoldenrodyellow;" >
    <span class="glyphicon glyphicon-shopping-cart" style="font-size:30px;margin:10px"></span><span style="font-size:20px;">order_preview</span>
    <ul>
        <li><strong>Package</strong> <p id="cart_package">standard</p></li>
        
            <li><strong>Product-Theme </strong> <p id="cart_product_theme">sky</p></li>
            <li><strong>Product-Cake </strong> <p id="cart_product_cake">cheese</p></li>
            <li><strong>Product-Gift </strong> <p id="cart_product_gift">toy</p></li>
            <li><strong>Product-Album </strong> <p id="cart_product_album">blue</p></li>
      
        <li><strong>Date </strong> <p id="cart_date">2016-01-01</p></li>
        <li><strong>Address</strong>  <p id="cart_address">490 pavonia ave</p></li>
        <li><strong>Phone</strong><p id="cart_phone">2017365027</p></li>
    </ul>
</div>