body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:3870px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:3870px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1927px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:930px;
  top:2870px;
  width:200px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:930px;
  top:2930px;
  width:200px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4 {
  position:absolute;
  left:140px;
  top:290px;
  width:170px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:170px;
  top:1840px;
  width:140px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:570px;
  top:1840px;
  width:140px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:970px;
  top:1840px;
  width:140px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:970px;
  top:2996px;
  width:120px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:762px;
  top:29px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:850px;
  top:29px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:940px;
  top:29px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:1080px;
  top:29px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:1150px;
  top:29px;
  width:70px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:60px;
  top:14px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:904px;
  top:74px;
  width:111px;
  height:132px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:132px;
}
#u17 {
  position:absolute;
  left:2px;
  top:58px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:993px;
  top:74px;
  width:20px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:930px;
  top:97px;
  width:63px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:930px;
  top:120px;
  width:40px;
  height:12px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21 {
  position:absolute;
  left:0px;
  top:785px;
  width:1280px;
  height:715px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u22 {
  position:absolute;
  left:-18px;
  top:785px;
  width:1298px;
  height:715px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1298px;
  height:715px;
}
#u23 {
  position:absolute;
  left:2px;
  top:350px;
  width:1294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:-18px;
  top:785px;
  width:1298px;
  height:715px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1298px;
  height:715px;
}
#u25 {
  position:absolute;
  left:2px;
  top:350px;
  width:1294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:-18px;
  top:785px;
  width:1298px;
  height:715px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1298px;
  height:715px;
}
#u27 {
  position:absolute;
  left:2px;
  top:350px;
  width:1294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:440px;
  top:1330px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:550px;
  top:1330px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:660px;
  top:1330px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:770px;
  top:1330px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
