body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1224px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-28px;
  top:0px;
  width:1280px;
  height:1100px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1100px;
}
#u1 {
  position:absolute;
  left:2px;
  top:542px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:733px;
  top:29px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:821px;
  top:29px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:911px;
  top:29px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:1051px;
  top:29px;
  width:40px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:1121px;
  top:29px;
  width:70px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:31px;
  top:14px;
  width:100px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:875px;
  top:74px;
  width:111px;
  height:132px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:132px;
}
#u10 {
  position:absolute;
  left:2px;
  top:58px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:964px;
  top:74px;
  width:20px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:901px;
  top:97px;
  width:63px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:901px;
  top:120px;
  width:40px;
  height:12px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:530px;
  top:280px;
  width:130px;
  height:20px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15 {
  position:absolute;
  left:530px;
  top:370px;
  width:130px;
  height:20px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:530px;
  top:610px;
  width:130px;
  height:20px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:532px;
  top:316px;
  width:18px;
  height:16px;
}
#u18 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19 {
  position:absolute;
  left:592px;
  top:316px;
  width:18px;
  height:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:530px;
  top:340px;
  width:130px;
  height:20px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  position:absolute;
  left:532px;
  top:722px;
  width:130px;
  height:20px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23 {
  position:absolute;
  left:530px;
  top:762px;
  width:130px;
  height:20px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:534px;
  top:648px;
  width:18px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:594px;
  top:648px;
  width:18px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:530px;
  top:682px;
  width:130px;
  height:20px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29 {
  position:absolute;
  left:530px;
  top:402px;
  width:130px;
  height:20px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:450px;
  top:890px;
  width:120px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:583px;
  top:890px;
  width:120px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
