<div class="container">
      <div class="row clearfix">
        <div class="col-xs-12 column">
          
          {{> (lookup . 'partial_topnav') }}
     <!--<nav class="navbar-inverse navbar-static-top" >
          <div class="container-fluid">
          <div class="navbar-header" style="margin-left:20px">
              <a href="Home.html"><img class="navbar-brand" src="../public/img/logo.png" alt=""></a>
          </div>
          <div>
              <ul class="nav navbar-nav">
                  <li class="active"><a href="Home.html">Home</a></li>
                  <li><a href="Price.html">Price</a></li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          More <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="Account.html">Account</a></li>
                          <li><a href="OrderList.html">Order</a></li>
                          <li><a href="#">Help</a></li>
                          <li class="divider"></li>
                          <li><a href="#">分离的链接</a></li>
                          <li class="divider"></li>
                          <li><a href="#">另一个分离的链接</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
          <ul class="nav navbar-nav navbar-right"> 
              <li><a href="Register.html"><span class="glyphicon glyphicon-user"></span> Register</a></li> 
              <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> 
          </ul> 
          </div>
      </nav>-->
          <div class="jumbotron">
            
              <h1 style="color:rgb(255,154,204)">
                Pet Party
              </h1>
              <p class="text_pink">
                We are the most perfessional birthday party Arrangement Service for pets.
              </p>
              <p>
                 <a class="btn btn-primary btn-large" href="step1.html">GET STARTED</a>
              </p>
      
          </div>
          <div class="carousel slide" id="carousel-406683">
            <ol class="carousel-indicators">
              <li data-slide-to="0" data-target="#carousel-406683"  class="active">
              </li>
              <li data-slide-to="1" data-target="#carousel-406683">
              </li>
              <li data-slide-to="2" data-target="#carousel-406683">
              </li>
              <li data-slide-to="3" data-target="#carousel-406683" >
              </li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img alt="" src="../public/img/slice.png" />
                <div class="carousel-caption">
                  <h4>
                    No Time？No Idea？
                  </h4>
                  <p>
                    Your lovely pets' birthday are coming.  No time? No ideas? No problem! We are good at holding party For Your Pets!
                  </p>
                </div>
              </div>
              <div class="item">
                <img alt="" src="../public/img/slice1.png"/>
                <div class="carousel-caption">
                  <h4>
                    1st STEP
                  </h4>
                  <p>
                    Register and login.

                  </p>
                </div>
              </div>
              <div class="item">
                <img alt="" src="../public/img/slice2.png" />
                <div class="carousel-caption">
                  <h4>
                    2nd STEP
                  </h4>
                  <p>
                    Choose your products, place the order and Leave everything to us.
                  </p>
                </div>
              </div>
              <div class="item">
                <img alt="" src="../public/img/slice3.png"/>
                <div class="carousel-caption">
                  <h4>
                    FINAL STEP
                  </h4>
                  <p>
                    Put on the birthday cloth and crown we design, enjoy the day we specially arrange for you and your pet.
                  </p>
                </div>
              </div>
            </div> <a class="left carousel-control" href="#carousel-406683" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-406683" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>
      </div>

      <div class="row clearfix" style="margin-right: 0px;margin-left: 0px;">
        <h1 class="sp_title">Service Price</h1>
        <div class="col-xs-3 column">

        </div>
        <div class="col-xs-2 column price" style="background:url(../public/img/sp_block.png)">
          <div class="price_title"><span>Standard</span></div>
          <div class="price_price"><span>$50</span><sub class="price_price_sub">/party</sub><br/></div>  
          <a class="btn btn-default btn-xs price_botton" href="step1.html" role="button">GET STARTED</a><br/>
          <ul class="price_list">
            <li>birthday theme X 1</li>
            <li>birthday cake X 1</li>
            <li>birthday gift X 1</li>
            <li>birthday album X 1</li>
          </ul>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


        </div>
        <div class="col-xs-2 column price" style="background:url(../public/img/sp_block.png)">
          <div class="price_title"><span>VIP</span></div>
          <div class="price_price"><span>$200</span><sub class="price_price_sub">/party</sub><br/></div>  
          <a class="btn btn-default btn-xs price_botton" href="step1.html" role="button">GET STARTED</a><br/>
          <ul class="price_list">
            <li>birthday theme X 1</li>
            <li>birthday cake X 1</li>
            <li>birthday gift X 1</li>
            <li>birthday album X 1</li>
            <li>birthday song X 1</li>
            <li>birthday game X 1</li>
            <li>birthday bulter X 1</li>
            <li>birthday dress X 1</li>
          </ul>
          <br/><br/><br/><br/><br/><br/><br/>
          
        </div> 
        <div class="col-xs-2 column price" style="background:url(../public/img/sp_block.png)">
          <div class="price_title"><span>VVIP</span></div>
          <div class="price_price"><span>$500</span><sub class="price_price_sub">/party</sub><br/></div>  
          <a class="btn btn-default btn-xs price_botton" href="step1.html" role="button">GET STARTED</a><br/>
          <ul class="price_list">
            <li>birthday theme X 1</li>
            <li>birthday cake X 1</li>
            <li>birthday gift X 1</li>
            <li>birthday album X 1</li>
            <li>birthday song X 1</li>
            <li>birthday game X 1</li>
            <li>birthday bulter X 1</li>
            <li>birthday dress X 1</li>
            <li>birthday DJ X 1</li>
            <li>birthday logo X 1</li>
          </ul>
          <br/><br/><br/><br/><br/>
        </div>
        <div class="col-xs-3 column">
        </div>
      </div>

      <div class="row clearfix" >
        <div class="col-xs-12 column" >
          <img src="../public/img/banner.png" class="home_banner" alt=""/>
        </div>
      </div>
      

      <div class="row clearfix">
        <div class="col-xs-7 column home_media">
          <i class="fa fa-twitter-square home_twitter_logo" style="font-size:50px"></i> 
          <span class="home_media_title">Follow Us</span>
          <div class="media">
             <a href="#" class="pull-left"><img src="../public/img/dog13.jpg" class="media-object" alt='' /></a>
            <div class="media-body">
              <h4 class="media-heading">
                Nested media heading
              </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
              <div class="media">
                 <a href="#" class="pull-left"><img src="../public/img/dog13.jpg" class="media-object" alt='' /></a>
                <div class="media-body">
                  <h4 class="media-heading">
                    Nested media heading
                  </h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-5 column">
          <i class="fa fa-birthday-cake home_twitter_logo" style="font-size:50px"></i> 
          <span class="home_media_title">Join Us</span>
          <form class="home_media_register">
            <div class="form-group ">
               <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" />
            </div>
            <div class="form-group">
               <label for="exampleInputPassword1">Password</label><input type="password" class="form-control" id="exampleInputPassword1" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>

      <div class="row clearfix home_aboutus" style="margin-right: 0px;margin-left: 0px;">
        <div class="col-xs-12 column" style="padding-right: 0px;padding-left: 0px;width: 1280px;">
          <div class="page-header home_aboutus_title">
            <h1>
             ABOUT US
            </h1>
          </div>
          <div class="row clearfix home_aboutus_body">
            <div class="col-xs-3 column">
                <div style="margin:20px">
                  <i class="fa fa-users" style="font-size:50px"></i> <br/>
                  <span >team members</span>
                </div>
              <p>
                ZijingHuang
                Zhuang21@stevens.com
                ShizheZhou
                XXXXXXX@stevens.com
                JiaoWang
                XXXXXXX@stevens.com
              </p>
            
            </div>
            <div class="col-xs-3 column">
              <div style="margin:20px">
                  <i class="fa fa-facebook-square" style="font-size:50px"></i> <br/>
                  <span >social media</span>
                </div>
              <p>
                <a href="#">http://facebook.com/petpar</a>
                <a href="#">http://twitter.com/petpar</a>
                <a href="#">http:/weibo.com/petpar</a>
              </p>
              
            </div>
            <div class="col-xs-3 column">
              <div style="margin:20px">
                  <i class="fa fa-link " style="font-size:50px"></i> <br/>
                  <span >link</span>
                </div>
              <p>
                <a href="#">http://www.stevens.edu</a>
              </p>
              
            </div>
            <div class="col-xs-3 column">
             <div style="margin:20px">
                  <i class="fa fa-mobile " style="font-size:50px"></i> <br/>
                  <span >apps</span>
                </div>
              <p>
                http://petpar.com/download/ios
                http://petpar.com/download/adroid
              
            </div>
          </div>
        </div>
      </div>
      
    </div>