<div class="container login_background_color">
        <div class="row clearfix" >
          <div class="col-xs-12 column">
              {{> (lookup . 'partial_topnav') }}
          </div>
        </div>
    

    <div class="row clearfix" style="margin-bottom:100px">
    <div class="col-md-6 column">
       <h1 class="login_title"><span class="glyphicon glyphicon-log-in login_logo"></span>Login</h1>
      <form class="form-horizontal" role="form" action="/login/login" method="POST" id="form_submit_button">
        {{#if error}}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                    <div class="alert alert-danger" role="alert">{{error}}</div>
            </div>
        </div>
        {{/if}}
        {{#if reg_success}}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                    <div class="alert alert-success" role="alert">{{reg_success}}</div>
            </div>
        </div>
        {{/if}}
        <div class="form-group">
           <label for="inputEmail3" class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
              <input class="form-control" name="username" type="text" placeholder="Email address" id="email_input">
            </div>
          </div>
        </div>
        <div class="form-group">
           <label for="inputPassword3" class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
           <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              <input class="form-control" name="password" type="password" placeholder="Password" id="passwork_input">
            </div>
          </div>
        </div>
        
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <div class="btn-group btn-block">
             <button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary btn-block" autocomplete="off">Sign in</button>
             {{!--<button type="button" class="btn btn-default">Forgot Password</button>--}}
            </div>
          </div>
          <div class="col-sm-offset-2 col-sm-10" style="margin-top:5px" >
              <div class="btn-group btn-block">
          <p>no account? <a href="/register">click me to register</a></p>
          </div>
          </div>
        </div>
        
      </form>
    </div>
    <div class="col-md-6 column">
      <img alt="140x140" src="/public/img/dog9.jpg" class="img-thumbnail login_img" />
    </div>
  </div>

</div>



  <div class="footer">
      <div class="container">
           <div class="row clearfix">
            <div class="col-xs-6 column">
               <div class="text-muted">|<a href="#"><span> POLICY </span></a>
                |<a href="#"><span> PRIVACY </span></a>
                |<a href="#"><span> ADVERTISEMENT </span></a>
                |<a href="#"><span > CONTACT US |</span></a>
               </div>
            </div>
            <div class="col-xs-6 column">
                 <div class="text-muted  text-right"> COPYRIGHT <span class="glyphicon glyphicon-copyright-mark"></span> 2016-2020 SIT. All rights reserved. </div>
            </div>
          </div>
      </div>
    </div>

   