<div class="container register_background_color">
        <div class="row clearfix" >
          <div class="col-xs-12 column">
             {{> (lookup . 'partial_topnav') }}
          </div>
        </div>

		
		<div class="row clearfix" style="margin-top:50px;margin-bottom:20px">
        <h1 class="sp_title">Service Price</h1>
        <div class="col-xs-3 column">

        </div>
        <div class="col-xs-2 column price" style="background:url(/public/img/sp_block.png)">
          <div class="price_title"><span>Standard</span></div>
          <div class="price_price"><span>$50</span><sub class="price_price_sub">/party</sub><br/></div>  
          <a class="btn btn-default btn-xs price_botton" href="/process/step1" role="button">GET STARTED</a><br/>
          <ul class="price_list">
            <li>birthday theme X 1</li>
            <li>birthday cake X 1</li>
            <li>birthday gift X 1</li>
            <li>birthday album X 1</li>
          </ul>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


        </div>
        <div class="col-xs-2 column price" style="background:url(/public/img/sp_block.png)">
          <div class="price_title"><span>VIP</span></div>
          <div class="price_price"><span>$200</span><sub class="price_price_sub">/party</sub><br/></div>  
          <a class="btn btn-default btn-xs price_botton" href="/process/step1" role="button">GET STARTED</a><br/>
          <ul class="price_list">
            <li>birthday theme X 1</li>
            <li>birthday cake X 1</li>
            <li>birthday gift X 1</li>
            <li>birthday album X 1</li>
            <li>birthday song X 1</li>
            <li>birthday game X 1</li>
            <li>birthday bulter X 1</li>
            <li>birthday dress X 1</li>
          </ul>
          <br/><br/><br/><br/><br/><br/><br/>
          
        </div> 
        <div class="col-xs-2 column price" style="background:url(/public/img/sp_block.png)">
          <div class="price_title"><span>VVIP</span></div>
          <div class="price_price"><span>$500</span><sub class="price_price_sub">/party</sub><br/></div>  
          <a class="btn btn-default btn-xs price_botton" href="/process/step1" role="button">GET STARTED</a><br/>
          <ul class="price_list">
            <li>birthday theme X 1</li>
            <li>birthday cake X 1</li>
            <li>birthday gift X 1</li>
            <li>birthday album X 1</li>
            <li>birthday song X 1</li>
            <li>birthday game X 1</li>
            <li>birthday bulter X 1</li>
            <li>birthday dress X 1</li>
            <li>birthday DJ X 1</li>
            <li>birthday logo X 1</li>
          </ul>
          <br/><br/><br/><br/><br/>
        </div>
        <div class="col-xs-3 column">
        </div>
      </div>


      </div>