<div class="container register_background_color" >
        <div class="row clearfix" >
          <div class="col-xs-12 column">
               {{> (lookup . 'partial_topnav') }}
          </div>
        </div>
    

    <div class="row clearfix" style="margin-bottom:50px">
    <div class="col-md-6 column">
       <h1 class="register_title"><i class="fa fa-user register_logo"></i>Register</h1>
      <form class="form-horizontal" role="form" method="POST" action="/register/register">
        {{#if error}}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                    <div class="alert alert-danger" role="alert">{{error}}</div>
            </div>
        </div>
        {{/if}}
        <div class="form-group">
           <label for="inputEmail3" class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <div class="input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
              <input class="form-control" type="email" placeholder="Email address" name="email">
            </div>
          </div>
        </div>
        <div class="form-group">
           <label for="inputPassword3" class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
           <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              <input class="form-control" type="password" placeholder="Password" name="password">
            </div>
          </div>
        </div>
        <div class="form-group">
           <label for="inputPassword3" class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
           <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              <input class="form-control" type="password" placeholder="Repeat Password" name="repeat_password">
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
               <label><input type="checkbox" />Remember me</label>
            </div>
          </div>
        </div>
 -->        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <div class="btn-group btn-block">
             <button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary btn-block" autocomplete="off">Register</button>
             {{!--<button type="button" class="btn btn-default">Reset</button>--}}
            </div>
          </div>
          
          
          <div class="col-sm-offset-2 col-sm-10" style="margin-top:5px">
              <div class="btn-group btn-block">
          <p>already have account? <a href="/login">click me to login</a></p>
          </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 column">
      <img alt="140x140" src="/public/img/dog5.jpg" class="img-thumbnail register_img" />
    </div>
  </div>

</div>