<link rel="stylesheet" href="/public/css/lib/bwizard.min.css">
<div class="container step_background_color">
        <div class="row clearfix" >
          <div class="col-xs-12 column">
              <nav class="navbar-inverse navbar-static-top" >
          <div class="container-fluid">
          {{> (lookup . 'partial_topnav') }}
          </div>
        </div>


    {{> (lookup . 'partial_bwizard') }}
		
		<div class="row clearfix" style="margin-bottom:20px">
        <h1 class="sp_title">Product</h1>
        <div class="col-xs-3 column step1_previous">
            
        </div>
        <div class="col-xs-6 column">
          <form role="form">

            

            <div class="form-group">
                <label  class="col-sm-2 control-label product_list_title">Theme</label>   
                <button type="button" class="btn btn-default" >
                  <span class="glyphicon glyphicon-chevron-left"></span> 
                </button>   
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="theme" id="theme1" value="option1" tid="tid1">
                  <span class="radio_test">theme1</span>
                  </div>
                </label>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="theme" id="theme2" value="option2" tid="tid2">
                  <span class="radio_test">theme2</span>
                  </div>
                </label>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="theme" id="theme3" value="option3" tid="tid3">
                  <span class="radio_test">theme3</span>
                  </div>
                </label>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="theme" id="theme4" value="option4" tid="tid4">
                  <span class="radio_test">theme4</span>
                  </div>
                </label>
                <button type="button" class="btn btn-default button_right">
                  <span class="glyphicon glyphicon-chevron-right"></span> 
                </button>
            </div>

            <div class="form-group">
                <label  class="col-sm-2 control-label product_list_title">Cake</label>  
                <button type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-chevron-left"></span> 
                </button>    
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="cake" id="cake1" value="option1" cid="cid1">
                  <span class="radio_test">cake1</span>
                  </div>
                </label>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="cake" id="cake2" value="option2" cid="cid2">
                  <span class="radio_test">cake2</span>
                  </div>
                </label>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="cake" id="cake3" value="option3" cid="cid3">
                  <span class="radio_test">cake3</span>
                  </div>
                </label>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="cake" id="cake4" value="option4" cid="cid4">
                  <span class="radio_test">cake4</span>
                  </div>
                </label>
                <button type="button" class="btn btn-default button_right" >
                  <span class="glyphicon glyphicon-chevron-right"></span> 
                </button>
            </div>

            <div class="form-group">
                <label  class="col-sm-2 control-label product_list_title">Gift</label>      
                <button type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-chevron-left"></span> 
                </button>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="gift" id="gift1" value="option1" gid="gid1">
                  <span class="radio_test">gift1</span>
                  </div>
                </label>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="gift" id="gift2" value="option2" gid="gid2">
                  <span class="radio_test">gift2</span>
                  </div>
                </label>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="gift" id="gift3" value="option3" gid="gid3">
                  <span class="radio_test">gift3</span>
                  </div>
                </label>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="gift" id="gift4" value="option4" gid="gid4">
                  <span class="radio_test">gift4</span>
                  </div>
                </label>
                <button type="button" class="btn btn-default button_right">
                  <span class="glyphicon glyphicon-chevron-right"></span> 
                </button>
            </div>

            <div class="form-group">
                <label  class="col-sm-2 control-label product_list_title">Album</label>      
                <button type="button" class="btn btn-default">
                  <span class="glyphicon glyphicon-chevron-left"></span> 
                </button>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                 <div>
                  <input type="radio" name="album" id="album1" value="option1" aid="aid1">
                  <span class="radio_test">album1</span>
                  </div>
                </label>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="album" id="album2" value="option2" aid="aid2">
                  <span class="radio_test">album2</span>
                  </div>
                </label>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="album" id="album3" value="option3" aid="aid3">
                  <span class="radio_test">album3</span>
                  </div>
                </label>
                <label class="radio-inline">
                  <img src="/public/img/dog1.jpg" alt="1212" class="img-rounded" style="width:80px;height:80px">
                  <div>
                  <input type="radio" name="album" id="album4" value="option4" aid="aid4">
                  <span class="radio_test">album4</span>
                  </div>
                </label>
                <button type="button" class="btn btn-default button_right">
                  <span class="glyphicon glyphicon-chevron-right"></span> 
                </button>
            </div>



        </form>

         <ul class="pager bwizard-buttons ">
          <li class="previous  " role="button" aria-disabled="true"><a href="/process/step1">← Previous</a></li>
          <li class="next " role="button" aria-disabled="false"><a href="/process/step3">Next →</a></li></ul>

        </div>
        <div class="col-xs-3 column">
           {{> (lookup . 'partial_cart') }}
        </div>
      </div>


      </div>